#main {
    background-color: black;
}

.tile{
    border: 1px solid white;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

#container{
    margin: 0 auto;
    display: grid;
}

.playerX{
    color: aquamarine;
}

.playerO{
    color:blueviolet
}

#AISettings{
    display: none;
}

#AISettings2{
    display: none;
}

#Text{
    display: none;
}

#Text2{
    display: none;
}

#Text3{
    display: none;
}

#mainTitle {
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
    color: #C8C8C8;
}

.Tool{
    background-color: green;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#display{
    color:white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    display: none;
}

.tree{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart { 
    height: 159px; 
    width: 332px; 
    margin: 5px; 
    margin: 5px auto; 
    border: 3px solid #DDD; 
    border-radius: 3px; 
}

.node {
    color: #9CB5ED; 
    border: 2px solid #C8C8C8; 
    border-radius: 3px; 
}

.node p { 
    font-size: 20px; 
    line-height: 20px; 
    height: 30px; 
    font-weight: bold; 
    padding: 3px; 
    margin: 0; 
}